@using PowerCommands.WebShared.Models
@inject ICommandsService CommandsService

<h3 style="color:cornflowerblue ">Input</h3>
<MudTextField @bind-Value="Input" Label="Input your command..." Variant="Variant.Text" Style="@($"color:{Colors.Grey.Darken1}; background:{Colors.Grey.Darken4};")"></MudTextField>
<br />
<MudButton Variant="Variant.Filled" Color="Color.Dark" OnClick="ExecuteCommand">Execute command</MudButton>
<br />
<br />
<h3>Output</h3>
<MudText Typo="Typo.body2" Style="@($"color:{Colors.Grey.Darken1}; background:{Colors.Grey.Darken4}; margin: 5px;")">@((MarkupString)Output)</MudText>

@code {

    public string? Input { get; set; }
    public string Output { get; set; } = "";


    private async Task ExecuteCommand()
    {
        var response = await CommandsService.GetRunResultModel(new InputModel{Raw = $"{Input}" });
        Output = response.Output;
        StateHasChanged();
    }
}